<div class="container mt-5">
  <div class="row">
    <div class="col lg-8 offset">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">LISTADO DE PRODUCTOS</span>
          <button class="btn btn-success float-end" routerLink="/create-product">NUEVO</button>
          <table class="table table-striped mt-3">
            <caption>LISTADO DE PRODUCTOS</caption>
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Product1</td>
                <td>Category1</td>
                <td>Location1</td>
                <td>1</td>
                <td><em class="fa-solid fa-pen-to-square text-primary"></em></td>
                <td><em class="fa-solid fa-trash text-danger"></em></td>

              </tr>
              <tr>
                <td>Product2</td>
                <td>Category2</td>
                <td>Location2</td>
                <td>2</td>
                <td><em class="fa-solid fa-pen-to-square text-primary"  ></em></td>
                <td><em class="fa-solid fa-trash text-danger"></em></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>